/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

.navbar .logo img {
  height: 359px;
  width: auto;
  margin: -270px;
}

.navbar {
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 12%;
  background: linear-gradient(0deg, #348ac7) 4%, rgba(15, 2, 5, 0.968207351299895 53%);
}

.nav-link {
  color: white;
}


/*#exampleModalLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;

}*/

#carouselHero .carousel-item img {
  object-fit: cover;
  object-position: cover;
  overflow: hidden;
  height: 60vh;
  padding-top: 4%;
  padding-bottom: 6%;

}

.footer {
  position: fixed;
  bottom: 15px;
  left: 0;
  right: 0;
  height: 10px;
}

.footertext {
  font-size: xx-small;
}

.button:hover {
  color: #fff;
}


* {
  font-family: "Poppins" sans-serif;
  text-decoration: none;
  font-size: 15px;

}

.homeHeader {
  font-family: "Poppins" sans-serif;
  text-decoration: none;
  text-align: center;
  padding-top: 2%;
  font-size: 50px;
  color: #f08834;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#exampleModalLabel {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  color: #777;
}

span {
  display: block;
  margin-top: 2rem;
  font-size: 0.7rem;
  color: #777;
}

span a {
  font-size: 0.7rem;
  color: #999;
  text-decoration: underline;
}

#pics {
  size: 20px, 0, 0, 50px;
}

/*body {
  background: hsla(35, 87%, 49%, 1);

background: linear-gradient(225deg, hsla(35, 87%, 49%, 1) 0%, hsla(94, 38%, 59%, 1) 86%);

background: -moz-linear-gradient(225deg, hsla(35, 87%, 49%, 1) 0%, hsla(94, 38%, 59%, 1) 86%);

background: -webkit-linear-gradient(225deg, hsla(35, 87%, 49%, 1) 0%, hsla(94, 38%, 59%, 1) 86%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EA9010", endColorstr="#90BE6D", GradientType=1 );
}*/


body {
  background-color: #98a863;
  height: 100vh;
}


.profile-content {
  
  background-color: white;
}

.profile-title {
  font-size: 20px;
  font-weight: 500px;
}

.profile-layout {
  display: grid;
  grid-template-columns: auto auto;
}
