/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
*{
    font-family: "Poppins" sans-serif;
    text-decoration: none;
    font-size: 15px;
  }


iframe {
height: 500px;
width: 100%;
}

.cat_button {
    cursor: pointer;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.cat_button:after {
    content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0cf;
        border-radius: 10rem;
        z-index: -2;

}

.cat_button h3 {
  font-size: 10px;
  margin-bottom: 0;
}

.cat_button:before {
    content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #008fb3;
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;

}

.cat_button:hover {
    color: #fff;
  }
  .cat_button:hover:before {
    width: 100%;
  }

  .recipes_grid {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }

  

  .box {
   padding: 5px;
  }

  .recipe_card {
    
  }

  .recipe_card h3{
    font-size: 15px;
    margin-top: 10px;
  }

  .recipe_card img {
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
    box-shadow: 0 0 20px 10px #f3f3f3;
  }