* {
  font-family: "Poppins" sans-serif;
  text-decoration: none;
  font-size: 15px;
}


iframe {
height: 500px;
width: 100%;
}

.cat_button {
    cursor: pointer;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.cat_button:after {
    content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0cf;
        border-radius: 10rem;
        z-index: -2;

}

.cat_button h3 {
  font-size: 10px;
  margin-bottom: 0;
}

.cat_button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.cat_button:hover {
  color: #fff;
}

.cat_button:hover:before {
  width: 100%;
}



/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(220, 220, 220, 0.445);
  border-radius: 5px;
}


.cat_button:after {
    content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #008fb3;
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;

}

.cat_button:hover {
    color: #fff;
  }
  .cat_button:hover:before {
    width: 100%;
  }

  .recipes_grid {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }

  

  .box {
   padding: 5px;
  }

  .recipe_card {
    
  }

  .recipe_card h3{
    font-size: 15px;
    margin-top: 10px;
  }

  .recipe_card img {
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
    box-shadow: 0 0 20px 10px #f3f3f3;
  }

.input {
  padding: 10px;
  width: 70px;
  height: 70px;
  background: none;
  border: 4px solid rgb(26, 26, 26);
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  outline: none;
  transition: .5s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search--box:hover input {
  width: 350px;
  background: #3b364070;
  border-radius: 10px;
}

.search--box i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #0cf;
  transition: .2s;
}

.search--box:hover i {
  opacity: 0;
  z-index: -1;
}


.heading {
  display: flex;
  height: 400px;
  background: url(https://png.pngtree.com/thumb_back/fw800/background/20231103/pngtree-organic-vegetarian-food-closeup-of-a-fresh-vegetable-salad-against-textured-image_13732953.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 6rem;
}

.header {
  position: relative;
    right: 80px;
  font-size: 3rem;
  text-transform: none;
  color: rgb(51, 51, 51);
  margin-bottom: 5px;
  font-family: Comic Sans MS;
}

.subheader {
  font-size: 1.5rem;
  font-family: Comic Sans MS;
}

.recipe-box {
  background: #c0c0c085;
  padding: 10px;
  font-family: Comic Sans MS;
}

.list-group {
  max-width: fit-content;
}

.meal-info_header {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.box {
 padding: 5px;
}

.recipe_card {
background-color: #e0e0e0b2;
box-shadow: 0 0 5px 5px #9e9c9c;
transition: transform .2s ease-out;
}

.recipe_card h3{
  font-size: 15px;
  margin-top: 10px;
}

.recipe_card img {
  border-radius: 15px;
  width: 200px;
  cursor: pointer;
  
}
.meal-info_header h1 {
  font-size: 30px;
}

.meal-body {
  display: flex;
}

.recipe_card:hover {
    transform: scale(1.05);
}

.corner-wrapper {
  display: block;
  overflow: hidden;
height: 90%;
  border-radius: 30px;
  transform: translateZ(0px);
  border: 3px solid #eeeeee00;
}



.meal-instructions {
  padding: 1rem;
  border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
background: #25252565;

}

.meal-ingredients {
  padding: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #3d3d3d4a;
}

.list-group {
  border-radius: 1.25rem;
}

.list-group-item {
  background: #5d5d5d94;
}